.brdr1
{
  
    border: 1px solid #b8daff ;
    border-radius: 5px;
}
.bg-clr
{
  background-color: #cce5ff;
}
.wid
{
  width: 100%;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}